<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="tests"><directory>tests</directory></testsuite>
    </testsuites>
    <php>
        <env name="TYPST_BINARY_PATH" value="/usr/bin/typst" />
    </php>
</phpunit>
